.text {
    text-align: center;
    font-size:40px;
    font-family: 'Roboto', sans-serif;
}

/* Element displaying the pre-scan status/errors */
#status {
    text-align: center;
    font-size:40px;

    color:red;
}

/* Element displaying the QR Code data type */
#data-type {
    text-align: center;
    font-size:40px;
    font-family: 'Roboto', sans-serif;
    color:green;
}

.data-content {
    text-align: center;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
    color:green;
}

a.data-content {
    color:rgb(0, 110, 255);
}

.camera-container {
    /*Crop video*/
    overflow:hidden;

    /*Center content*/
    display:flex;
    align-items:center;
    justify-content:center;
    
    border-radius:30px;
    width: 100%;
}

.camera-container-background {
    background: rgb(47,205,33);
    background: radial-gradient(circle, rgba(47,205,33,1) 0%, rgba(43,120,32,1) 100%); 
    border-radius:30px;
}

#camera {
    width:500px;
    height:500px;
    /*Video completely covers .camera-container's element*/
    object-fit:cover;

    background: rgb(33,139,205);
    background: radial-gradient(circle, rgba(33,139,205,1) 0%, rgba(32,39,120,1) 100%); 
    border-radius:30px;

    position:relative;
    z-index:99;
}
