/* =============================================*/
/* Header */
/* =============================================*/

.text {
    text-align: center;
    font-size:40px;
    font-family: 'Roboto', sans-serif;
}

.flex-box {
    display:flex;
    flex-direction: row;
}

.flex-box-central {
    flex:40%;
}

.flex-box-side {
    flex:30%;
}

/* =============================================*/
/* QR Data Container */
/* =============================================*/

#status {
    text-align: center;
    font-size:40px;

    color:red;
}

/* Element displaying the QR Code data type */
#data-type {
    text-align: center;
    font-size:40px;
    font-family: 'Roboto', sans-serif;
    color:green;

    margin:10px;
}

.data-container {
    text-align: center;
    display:block;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
    color:green;
    
    margin:3px;
}

a.data-container {
    color:rgb(0, 110, 255);
}

/* =============================================*/
/* Camera Stream Container */
/* =============================================*/

.camera-container {
    /*Crop video*/
    overflow:hidden;

    /*Center content*/
    display:block;
    margin-left:auto;
    margin-right:auto;
    
    border-radius:30px;
    width:500px;

    background: rgb(33,139,205);
    background: radial-gradient(circle, rgba(33,139,205,1) 0%, rgba(32,39,120,1) 100%); 
    border-radius:30px;
}

#camera {
    width:500px;
    height:500px;
    border-radius:30px;
    
    /*Video completely covers .camera-container's element*/
    object-fit:cover;
    position:relative;
    z-index:99;
}

/* =============================================*/
/* QR History Container */
/* =============================================*/

.history-container {

}

/* =============================================*/
/* Export Data Button */
/* =============================================*/

#export-button {
    cursor: pointer;
    padding:10px;
    background-color:rgb(255, 238, 0);
    color:rgb(0, 0, 0);
    visibility: hidden;

    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#export-button:hover {
    background-color:rgb(255, 196, 0);
}

/* =============================================*/
/* Footer
/* =============================================*/

