/* =============================================*/
/* Global
/* =============================================*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

*::selection {
    color:rgb(255, 255, 255);
    background-color: rgb(137, 14, 14);
}

body {
    position: relative;
    min-height:100vh;
    margin:0px;
}

.alert {
    opacity:0;
    margin-top: var(--sl-spacing-medium);
    font-size:30px;
    --sl-font-size-small:1.3rem;
}

.title {
    text-align: center;
    font-size:30px;
    padding-bottom:5px;
}

/* =============================================*/
/* Header
/* =============================================*/

.header {
    background-color:rgb(137, 14, 14);
    padding-top:10px;
    padding-bottom:10px;
    display:flex;
    flex-direction: row;
    border-bottom: 3px solid rgb(54, 0, 0);
}

.header-center {
    flex:50%;
}

.header-left {
    flex:25%;
}

.header-right {
    flex:25%;
    display: flex;
    align-items: center;
}

img.header {
    margin-left:auto;
    margin-right:auto;
    display: block;
    height:10vh;
    min-height:75px;
    border-bottom:none;
}

.wiki-button, .empty-button {
    margin-right:20px;
    right:0;
    position:absolute;
}

@media (max-width:800px) {

    .header-center, .header-right {
        flex: 100%;
    }

    .header-left {
        flex:0%;
    }

}

/* =============================================*/
/* Flex box (responsive)
/* =============================================*/

.flex-box {
    margin-top:40px;
    display:flex;
    flex-direction: row;
}

.flex-box-central {
    flex:40%;
    min-width:40%;
}

.flex-box-left, .flex-box-right {
    flex:30%;
    max-width:30%;
    margin-bottom:20px;
}

.history, .data {
    border-radius:30px;
    padding:20px;
    overflow-y: scroll;
    max-height: 600px;
}

@media (max-width:800px) {
    .flex-box {
        flex-direction:column;
    }

    .flex-box-central, .flex-box-left, .flex-box-right {
        flex:100%;
        max-width:100%;
        margin:10px;
    }

    .flex-box-central {
        order:1;
    }

    .flex-box-right {
        order:2;
    }

    .flex-box-left {
        order:3;
    }

    .history, .data {
        margin-left:10px !important;
        margin-right:10px !important;
    }

    .history-entry *, time.history-entry-date {
        font-size:13px !important;
    }
}


/* =============================================*/
/* QR Data Container */
/* =============================================*/

.data {
    margin-right:20px;
    background: rgb(244,214,23);
    background: linear-gradient(298deg, rgba(244,214,23,1) 0%, rgba(226,147,13,1) 100%); 
}

#status {
    text-align: center;
    font-size:40px;

    color:red;
}

.data-container {
    text-align: center;
    font-size:22px;
    color:black;
    margin:3px;
}

/* Element displaying the QR Code data type */
#data-type {
    text-align: center;
    font-size:30px;
    margin:10px;
    font-weight:bold;
}

a.data-container, .url-scan {
    display:flex;
    justify-content:center;
}

a.data-container {
    color:rgb(0, 110, 255);
    margin-bottom:20px;
}

.disclaimer {
    display:flex;
    align-items:center;
    font-size:13px;
}

.risk-bar {
    border: 2px solid black;
    border-radius: 50px;
}

#scan-table {
    border-collapse:collapse;
    margin-top:20px;
}

#scan-table th, #scan-table td {
    padding:3px;
    border: 1px solid black;
}

#scan-table th {
    background-color:rgb(63, 98, 99);
    color:white;
    padding:5px;
    text-align:left;
}

#scan-table tr:nth-child(even) {
    background-color:lightgrey;
}


/* =============================================*/
/* Camera Stream Container */
/* =============================================*/

.camera-container {
    /*Crop video*/
    overflow:hidden;

    /*Center content*/
    display:block;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    
    border-radius:30px;
    width:90%;
    aspect-ratio:1/1;
    max-width:500px;

    background: rgb(33,139,205);
    background: radial-gradient(circle, rgba(33,139,205,1) 0%, rgba(32,39,120,1) 100%); 
    border-radius:30px;
}

#camera {
    border-radius:30px;
    width:100%;
    aspect-ratio:1/1;
    max-width: 500px;
    
    /*Video completely covers .camera-container's element*/
    object-fit:cover;
}

.loading-bar {
    margin-top: var(--sl-spacing-medium);
    --indicator-color: red;
    --height: 6px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
}

/*Rest of scan success is under Export Menu section */
.notification,.scan-success {
    opacity:0;
    width:100%;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin-top: var(--sl-spacing-medium);
}

/* This needs to be visible at start-up */
#waiting {
    opacity:1;
}
  

/* =============================================*/
/* QR History Container */
/* =============================================*/

.history {
    margin-left:20px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.no-data {
    color:rgb(53, 53, 53);
    font-size:25px;
    text-align:center;
    font-style:italic;
    padding-top:50px;
    padding-bottom:50px;
}

.history-entry {
    background: rgb(159,215,239);
    background: linear-gradient(135deg, rgba(159,215,239,1) 0%, rgba(184,211,248,1) 100%);   
    border-radius: 10px;
    border: 1px solid slategrey;
    font-size:0.5vw;
    padding:5px;
    display:flex;
    margin-bottom:5px;
    text-decoration:none;
}

.history-entry:hover {
    background: rgb(15,18,134);
    background: linear-gradient(135deg, rgba(15,18,134,1) 0%, rgba(75,0,163,1) 100%); 
}

/*When the user hovers over the entry, change all text colour to white for contrast*/
.history-entry:hover .history-entry-code,
.history-entry:hover .history-entry-date,
.history-entry:hover .history-button {
    color:white;
}


.history-entry-code {
    text-align:left;
    color:black;

    /*Fade out if too many characters*/
    flex: 65%;
    max-width:60%;
    min-width:60%;

    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:inline-block;
}

.history-entry-date {
    font-style: italic;
    text-align:right;
    flex:30%;
    color:rgb(48, 48, 48);
    
    /*Adjust for library*/
    font-size:0.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.history-button {
    flex:5%;
    font-size:1vw;
    margin-top:auto;
    margin-bottom:auto;
}

/* =============================================*/
/* Menu & Export Data Button */
/* =============================================*/

.export-menu {
    /* Make menu invisible until code scanned */
    visibility:hidden;
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;

    /* Flexbox */
    display:flex;
    flex-wrap:nowrap;
    flex-direction:column;

    justify-content:center;
    align-content:center;
}

.export-top, .export-bottom {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width:100%;
    height:100%;

    color:black;
    font-size:30px;
    text-decoration:none;
    font-weight:bold;
    cursor:pointer;
}

.export-top {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    border-left: 3px solid rgb(54, 0, 0);
    border-top: 3px solid rgb(54, 0, 0);
    border-bottom: 1.5px solid rgb(54, 0, 0);
    border-right: 3px solid rgb(54, 0, 0);
    border-radius: 30px 30px 0 0;
}

.export-bottom {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border-left: 3px solid rgb(54, 0, 0);
    border-bottom: 3px solid rgb(54, 0, 0);
    border-top: 1.5px solid rgb(54, 0, 0);
    border-right: 3px solid rgb(54, 0, 0);
    border-radius: 0 0 30px 30px;
}

.scan-success {
    position:absolute;
    margin-top:0px;
    font-size:50px;
}

/* =============================================*/
/* Footer
/* =============================================*/

.footer {
    background-color:rgb(137, 14, 14);
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    color:white;
    font-weight:bold;
    height: 2.5rem;
    
    width:100%;

    position: absolute;
    bottom:0;
    right:0;
    left:0;
}